:root {
  --accent-color: #2196F3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid #ececec;
}

.header-nav-list,
.header-list-link {
  display: none;
}

.main-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.main-link .slice-logo {
  color: var(--accent-color);
}

.nav__burger {
  width: 40px;
  height: 40px;
  border: none;
  background: inherit;
  vertical-align: auto;
}

.nav__burger__icon {
  width: 24px;
  height: 16px;
}

.nav__burger__icon:hover, .nav__burger__icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 25px 0;
  }
  .nav__burger {
    display: none;
  }
  .main-link {
    margin-right: 90px;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-list {
    display: flex;
  }
  .header-nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    position: relative;
  }
  .header-nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-nav-list-link {
    color: #212121;
    position: relative;
  }
  .studio-after::after {
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    width: 100%;
    top: 46px;
  }
  .portfolio-after::after {
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    width: 100%;
    top: 46px;
  }
  /* .header-nav-list-item .link:hover::after{
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background-color: teal;
    position: relative;
    margin-top: 30px;
  } */
  .header-list-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
  }
  .header-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover .header-icon,
  .link:focus .header-icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .main-link {
    margin-right: 95px;
  }
  .header-list-link {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .header-list {
    display: flex;
  }
}

.hero {
  padding: 120px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/mobile-hero-bgx1.png");
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 360px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  min-height: 50px;
  width: 200px;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/tablet-hero-bgx1.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bgx1.png");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 700px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 480px), (min-resolution: 192dpi) and (min-width: 480px), (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/mobile-hero-bgx2.png");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/tablet-hero-bgx2.png");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bgx2.png");
  }
}

.skills {
  padding: 60px 0;
}

.skills-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.container-skills__icon {
  width: 70px;
  height: 70px;
}

.skills-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills-list-item {
    width: 354px;
  }
  .skills-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .skills-list {
    flex-wrap: nowrap;
  }
  .skills-list-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .employment {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .employment {
    padding-bottom: 95px;
  }
  .employment-list {
    display: flex;
  }
  .employment-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .conteiner-employment-list-item {
    position: relative;
  }
  .title-employment-img {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 30px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
  }
}

.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-list-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.description-proffeshion {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.container-social-link {
  width: 210px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-link {
  color: white;
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: white;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 95px 0;
    background-color: #F5F4FA;
  }
}

.costumers {
  padding: 60px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
}

.company-container {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-container:hover, .company-container:focus {
  border-color: #2196F3;
}

.company-container:hover .company-icon-svg, .company-container:focus .company-icon-svg {
  fill: #2196F3;
}

.company-icon-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .company-container {
    width: 170px;
  }
}

.sitebar-portfolio {
  padding: 60px 0;
}

.sitebar-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: 40px;
}

.sitebar-list-item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.sitebar-list-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sitebar-list-btn:hover, .sitebar-list-btn:focus, .sitebar-list-btn:active {
  background-color: var(--accent-color);
  cursor: pointer;
  color: white;
}

.sitebar-list-item:not(:last-child) {
  margin-right: 8px;
}

.siteposters-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.siteposters-list-item {
  margin-top: 30px;
  margin-left: 30px;
}

.siteposters-list-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.description-siteposters {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  padding: 65px 25px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.siteposters-link:hover .description-siteposters,
.siteposters-link:focus .description-siteposters {
  transform: translateY(0%);
}

.siteposters-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.siteposters-container-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-main-link {
  display: block;
  text-align: center;
  margin-right: 0;
}

.second-slice {
  color: #ffffff;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-list-item:not(:first-child) {
  margin-top: 10px;
}

.address-list-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: white;
}

.address-list-contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.title-social-networks {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.container-footer-social-networks {
  display: flex;
  margin-top: 20px;
}

.footer-social-networks {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-networks:not(:last-child) {
  margin-right: 10px;
}

.footer-social-networks:hover, .footer-social-networks:focus {
  background: var(--accent-color);
}

.footer-social-networks-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.fotter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.fotter-modal-mail {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  margin-right: 10px;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-modal-mail:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-btn {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 20px;
  min-width: 200px;
  min-height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.form-btn-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .contact-social-networks {
    margin-top: 0;
  }
  .footer-subscribe-form {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-main-link {
    text-align: left;
  }
  .address-list {
    align-items: flex-start;
  }
  .contact-social-networks {
    align-items: flex-start;
  }
  .footer-subscribe-form {
    margin: 0;
    align-items: flex-start;
  }
  .fotter-form {
    flex-direction: row;
    align-items: center;
  }
  .fotter-modal-mail {
    width: 350px;
  }
  .form-btn {
    margin-top: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-window {
  width: 530px;
  height: 580px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal-tittle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 15px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.container-icon {
  display: block;
  position: relative;
  margin-top: 5px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form-input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-top: 5px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 15px;
}

.modal-form-checkbox-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url(../image/submit.svg);
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background: url(../image/acceptstrike.svg), url(../image/accept.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  fill: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  min-height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  cursor: pointer;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

.networks-container {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */