.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.mobile-menu {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    overflow: auto;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    &__close-button {
        width: 40px;
        height: 40px;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 15px;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover{
            fill: var(--accent-color);
            cursor: pointer;
        }
    }
    &__close-button-icon{
        width: 20px;
        height: 20px;
    }
    &__nav-item{
        position: relative;
    }
    &__nav-item:not(:last-child){
        margin-bottom: 32px;
    }
    &__nav-link{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #212121;
        position: relative;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: var(--accent-color);
        }
        .active-page-mobile::after{
            content: "";
            display: block;
            border-radius: 2px;
            height: 4px;
            background-color: var(--accent-color);
            position: absolute;
            width: 100%;
           
        }
    }
    
    &__contacts-item:not(:last-child){
        margin-bottom: 32px;
    }
    &__contacts-tel{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    &__contacts-link{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
    }

    &__social-list{
        display: flex;
        margin-top: 65px;
    }
    &__social-item{
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 10px;
        padding-right: 10px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
            border: none;
        }
    }
    &__social-link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    
}
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
